
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

  .tekst1 {
    color: black;
  }

  .dato1 {
    color: pink;
  }

  .tekst2 {
    float: right;
    color: lightseagreen;
  }

  .dato2 {
    color: black;
  }

  .tekst2:hover {
    text-transform: uppercase;
    font-size: 110%;
    border-style: solid;
    border-radius: 5px;
  }

  .tekst3 {
    color: #008000;
  }

  .dato3:hover {
    border-style: solid;
    background-color: lightblue;
    border-radius: 5px;

  }

  footer {
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 0;
    background-color: lightseagreen;
    width: 100%;
    height: 150px;
  }

  footer p {
    padding-left: 20px;
    padding-right: 20px;
  }