body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
  }

du { text-decoration-line: underline;
    text-decoration-style: double; }